<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.mca_jnuproject.kidsadda_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Contribution"></activity>
        <activity android:name=".GeneralQuestion" />
        <activity android:name=".YoutubePlayer" />
        <activity
            android:name=".Check_Internet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rhymes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunMaths"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Table"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GamesWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Games"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>